<ion-header class="ion-no-border">
  <ion-toolbar color="primary">

<ion-buttons slot="start">
  <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>

  <ion-button (click)="dismissModal()" *ngIf="isModal">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>

  <ion-menu-button *ngIf="showMenu" menu="menu-content"></ion-menu-button>

</ion-buttons>

    <ion-title>
      <strong>{{title}}</strong>
      <div class="tellevo">TE LLEVO APP</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
